{% extends "base.html" %}
{% block content %}
<div class="title">
    <h1>Assessments</h1>
    
</div>
<div class="top-description">
    <p>Press an assignment to see its description</p>
</div>

<!-- Defines the main container responsible for holding everything else-->
<div class="main-container">
    <!-- Defines top container responsible for holding the checkboxes-->
    <div class="top-container">
        <div class="checkbox-container">
            <label class="checkbox-label">
                <!-- When checkbox is ticked, it runs 'updateAssesments()' function -->
                <input type="checkbox" id="completed-checkbox" onchange="updateAssessments()"
                    {% if assessments|length == 0 %}
                        disabled
                    {% else %}
                        checked
                    {% endif %}
                    >Completed
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="due-checkbox" onchange="updateAssessments()"
                    {% if assessments|length == 0 %}
                        disabled
                    {% else %}
                        checked
                    {% endif %}
                    >Due
            </label>
        </div>
    </div>

    <!-- Defines bottom container, respoonsible for holding the assessment container and the card class-->
    <div class="bottom-container">
        <div class="assessment-container"> 

                <div class="card">
                    {% if assessments|length == 0 %}
                        <div class="no-assessments">
                            <ul>
                                <li class="no-assessments">You currently have no assignments, add one through the button in the top left</li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="assessment-items">
                            {% for assessment in assessments %}
                            <!-- When clicked, enlrges to show desription using 'toggledescription()' function-->
                            <div class="assessment-item" aria-expanded = "true" data-status="{{ assessment.status }}" onclick="toggleDescription(this)">
                                <div class="assessment-content">
                                    <div class="left-section">
                                        <div class="assessment-title">{{ assessment.assessmenttitle }}</div>
                                        <div class="module-code">
                                            {{ assessment.modulecode }}
                                        </div>
                                    </div>
                                    <div class="center-section">
                                        <div class="assessment-deadline">
                                            <p class="deadline">
                                                {% if assessment.status == 1 %}
                                                    Completed - {{ assessment.deadline }}
                                                {% else %}
                                                    Due: {{ assessment.deadline }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="right-section">
                                        <form action="{{ url_for('edit_item', item_id=assessment.id) }}" method="POST" style="display:inline;" onclick="event.stopPropagation();">
                                            <button type="submit" class="btn btn-secondary">Edit</button>
                                        </form>
                                        {% if assessment.status == 0 %}
                                            <form action="{{ url_for('complete_item', item_id=assessment.id) }}" method="POST" style="display:inline;" onclick="event.stopPropagation();">
                                                <button type="submit" class="btn btn-success">Complete</button>
                                            </form>
                                        {% else %}
                                            <form action="{{ url_for('uncomplete_item', item_id=assessment.id) }}" method="POST" style="display:inline;" onclick="event.stopPropagation();">
                                                <button type="submit" class="btn btn-dark">Un-finish</button>
                                            </form>
                                        {% endif %}
    
                                        <form action="{{ url_for('delete_item', item_id=assessment.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this assessment?');" onclick="event.stopPropagation();">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        
                                            
                                    </div>
                                </div>
                                
                                <p class="description">
                                    {{ assessment.description }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
        </div>
    </div>
</div>

{% endblock %}
